<% content_for :title, "Editing challenge story" %>
<div class="w-full max-w-4xl mx-auto">
  <%= turbo_frame_tag "challenge_story" do %>
    <div class="mb-6">
      <h1 class="font-bold text-4xl mb-2">Edit Challenge</h1>
      <p class="text-base-content/70">Update your challenge details</p>
    </div>

    <%= render "form", challenge_story: @challenge_story %>

    <div class="mt-4">
      <%= link_to challenge_story_path(@challenge_story), "data-turbo-frame": "_top" do %>
        <%= render Button::Component.new(text: "Cancel", icon: :x, color: "ghost") %>
      <% end %>
    </div>
  <% end%>
</div>